.Kpi {
  text-wrap: nowrap;
  text-align: center;
  overflow: auto;
  min-height: 72px;

  .KpiContent {
    padding-left: 0;
    padding-right: 0;

    .SkeletonTitle {
      margin-right: auto;
      margin-left: auto;
      width: 60px;
      height: 21px;
    }

    .SkeletonSubTitle {
      margin-right: auto;
      margin-left: auto;
      width: 140px;
      height: 12px;
    }
  }
}
