.AppMenu {
  ion-content {
    --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }

  .LogoNavigation {
    text-decoration: none;
  }

  ion-list-header {
    padding-left: 10px;
    font-size: 28px;
    font-weight: 600;
    min-height: 20px;
    margin-bottom: 10px;

    .AppLogo {
      max-width: 28px;
      margin-right: 10px;
    }
  }

  .github-info {
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 32px;
    margin-left: 6px;
    cursor: pointer;

    a {
      display: flex;
      align-items: center;
      color: var(--ion-color-medium-shade);

      ion-icon {
        margin-right: 0.4em;
      }
    }
  }

  ion-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    .github-info {
      display: flex;
      align-items: center;
    }

    .MenuEntry {
      padding: 1.2em;
      border-radius: 4px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--ion-color-medium-shade);

      &.utxos-menu-entry {
        ion-icon {
          transform: rotate(90deg);
        }
      }

      ion-icon {
        font-size: 1.4rem;
        margin-right: 20px;
      }

      &.active {
        color: var(--ion-color-primary);
        background: rgba(var(--ion-color-primary-rgb), 0.14);

        ion-icon {
          color: var(--ion-color-primary);
        }
      }
    }

    .addresses-management-menu-entry {
      margin-top: auto;
      border-top: 1px solid var(--ion-color-step-150, #d7d8da);
      border-radius: 0 0 4px 4px;
    }
  }

  ion-content {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 20px;
    --padding-bottom: 20px;
  }
}
