.SimpleKpi {
  text-wrap: nowrap;
  text-align: center;
  overflow: auto;
  min-height: 72px;

  .SkeletonTitle {
    margin-right: auto;
    margin-left: auto;
    width: 60px;
    height: 21px;
  }

  .SkeletonSubTitle {
    margin-right: auto;
    margin-left: auto;
    width: 140px;
    height: 12px;
  }
}
