@use "../../theme/mixins.scss";

.NewManualAddress {
  --border-radius: 8px;

  .ModalFooterIcon {
    margin-right: 0.5em;
  }

  .InputElement {
    margin-bottom: 2em;
  }

  .ImportDataButton {
    width: 100%;
  }

  .ModalFooter {
    padding: 1em;
  }
}
