.SettingsPage {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  gap: 1rem;

  .SettingsCardContent {
    display: flex;
    justify-content: space-between;
  }

  .InputElement {
    margin-bottom: 2em;
    color: var((--ion-color-step-000, #fff));

    .helper-text {
      color: var(--ion-color-step-550, #737373);
    }
  }

  .AlignFooterEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 0 2em;
  }
}
