ion-card {
    margin: 0 !important;
    padding: 12px 16px 12px 16px !important;
    background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    border-radius: 4px;
    
}