.TableData .MuiPaper-root {
    height: 100%;
    background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
    color: var(--ion-color-step-850, #262626) !important;



    .MuiBox-root,
    .MuiIconButton-root,
    .MuiSvgIcon-root,
    .MuiTableContainer-root .MuiTableSortLabel-icon,
    .MuiFormLabel-root,
    .MuiSelect-select,
    .MuiInputBase-input,
    .MuiTableContainer-root th,
    .MuiTableContainer-root td {
        background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
        color: var(--ion-color-step-850, #262626) !important;
    }

    .MuiInputBase-root:focus-visible {
        border-color: rgba(var(--ion-color-primary-rgb), 0.14);
    }


    .MuiTableContainer-root {
        th {
            border-bottom: 4px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.20)))) !important;
        }

        td {
            border-bottom: 1px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13)))) !important;
        }
    }
}

.MuiPaper-root {
    background-color: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff))) !important;
    color: var(--ion-color-step-850, #262626) !important;
}