@import "../../theme/mixins.scss";

.Header {
    
    .PageIcon{
        font-size: 1.2em;
        padding: 0 0 0 1em;

        &.utxos-menu-entry {
            transform: rotate(90deg);
        }

        @include mobile {
            display: none;   
        }
    }
}