@use 'theme/tables.scss';
@use 'theme/card.scss';
@use 'theme/charts.scss';
@use 'theme/mixins.scss';

.menu-pane-visible {
    max-width: 304px;
}

#PageContent {
    margin: 2em 2em 0 2em;
    height: calc(100vh - 120px);

    @include mixins.desktop-wide {
        max-width: 1400px;
        margin: 2em auto 0 auto;
    }

    >:first-child {
        height: inherit;
    }
}