@import './theme/tables.scss';
@import './theme/card.scss';
@import './theme/charts.scss';

.menu-pane-visible {
    max-width: 304px;
}

#PageContent {
    margin: 2em 2em 0 2em;
    height: calc(100vh - 120px);

    >:first-child {
        height: inherit;
    }
}